* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    perspective: 800px;
    overflow: hidden;
    place-items: center;
    background: linear-gradient(#3a4149, #111722);
}

main {
    position: relative;
    transform-style: preserve-3d;
    width: 50vmin;
    height: 75vmin;
    transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}



.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
  }